<mat-card class="container">
    <h1>Competition's details</h1>
    <div class="row">
       <form >
        <mat-tab-group>
          <mat-tab label="GENERAL"> 
              <div class="col-md-10 offset-md-1" style="margin-top: 15px;">
                  <mat-form-field class="w100 region1" appearance="fill">   
                      <mat-label>Competition</mat-label>
                      <input required  disabled type="text" name="nom"  placeholder="Enter here" matInput id=""/>
                  </mat-form-field>
                  <mat-form-field class="w100 region1" appearance="fill">
                      <mat-label>Code</mat-label>
                      <input required disabled type="text" name="prenom"  placeholder="Enter here" matInput id=""/>
                  </mat-form-field>
  
                  <mat-form-field appearance="fill" class="mt20 w100 countries">
                      <mat-label >Team</mat-label>
                      <mat-select disabled>
                          <mat-option value="yes">Yes</mat-option>
                          <mat-option value="no">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mt20 w100 countries">
                        <mat-label >Cotation</mat-label>
                        <mat-select disabled>
                            <mat-option value="L.E.N.">L.E.N.</mat-option>
                            <mat-option value="Néeant">Néeant</mat-option>
                            <mat-option value="F.F.N">F.F.N</mat-option>
                            <mat-option value="F.I.N.A">F.I.N.A</mat-option>
                          </mat-select>
                      </mat-form-field>
                    <mat-form-field appearance="fill" class="example-form-field region1">
                      <mat-label>Choose a date</mat-label>
                      <input disabled matInput [matDatepicker]="datepicker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                      <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancel</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="example-form-field region1">
                        <input  disabled matInput [matDatepicker]="datepicker1">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker1>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                      <mat-form-field class="w100 region1" appearance="fill">   
                        <mat-label>Place</mat-label>
                        <input required  disabled type="text" name="nom"  placeholder="Enter here" matInput id=""/>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mt20 w100 countries">
                        <mat-label >Bassin</mat-label>
                        <mat-select disabled>
                            <mat-option value="tous">tous bassin</mat-option>
                            <mat-option value="grand">grand bassin</mat-option>
                            <mat-option value="petit">petit bassin</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="mt20 w100 countries">
                        <mat-label >Couloirs</mat-label>
                        <mat-select disabled>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="mt20 w100 countries">
                        <mat-label >Federation</mat-label>
                        <mat-select disabled>
                            <mat-option value="animation">Animation</mat-option>
                            <mat-option value="qualification">Qualification</mat-option>
                            <mat-option value="reference">Référence</mat-option>
                        </mat-select>
                      </mat-form-field>
                  <br>
                  <button mat-raised-button class="clear " routerLink="/admin/viewCompetition">Close</button>
  
          </div></mat-tab>
  
          <mat-tab label="ENGAGEMENTS" > 
            <mat-form-field appearance="fill" class="mt20 w100 countries">
                <mat-label >Bassin</mat-label>
                <mat-select disabled>
                    <mat-option value="tous">tous bassin</mat-option>
                    <mat-option value="grand">grand bassin</mat-option>
                    <mat-option value="petit">petit bassin</mat-option>
                  </mat-select>
              </mat-form-field>
          &nbsp;
          <mat-slide-toggle disabled
          #checkboxes
              name="sportive"
              color="admin-color"
              class=" container1 container2"
              [checked]="false"
              type="checkbox"
             >
            Qualification
          </mat-slide-toggle>
          &nbsp;
          <mat-slide-toggle disabled
          #checkboxes
              name="synchro"
              color="admin-color"
              class=" container1"
              [checked]="false"
              type="checkbox"
             >
             Reference's type
          </mat-slide-toggle>
          &nbsp;
          <mat-slide-toggle disabled
          #checkboxes
          name="water_polo"
          color="admin-color"
          class=" container1"
          [checked]="false"
          type="checkbox"
         >
         Animation
      </mat-slide-toggle>
      &nbsp;
      <mat-form-field appearance="fill" class="example-form-field region1">
        <mat-label>Periode valide des performances pour les engagements</mat-label>
        <input  disabled matInput [matDatepicker]="datepicker2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-form-field region1">
       
        <input disabled matInput [matDatepicker]="datepicker3">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
        <mat-datepicker #datepicker3>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
 
      <button mat-raised-button class="clear clear1" routerLink="/admin/viewCompetition">Close</button>
  </mat-tab>
          <mat-tab label="Record tracking">
              <div class="col-md-10 offset-md-1 c1" >
                <mat-slide-toggle disabled
                #checkboxes
                    name="sportive"
                    color="admin-color"
                    class=" container1"
                    [checked]="false"
                    type="checkbox"
                   >
                  Record for all categories
                </mat-slide-toggle>
                <mat-slide-toggle disabled
                #checkboxes
                    name="sportive"
                    color="admin-color"
                    class=" container1"
                    [checked]="false"
                    type="checkbox"
                   >
                  Record by category
                </mat-slide-toggle>
                <mat-slide-toggle disabled
                #checkboxes
                    name="sportive"
                    color="admin-color"
                    class=" container1"
                    [checked]="false"
                    type="checkbox"
                   >
                  Both
                </mat-slide-toggle>
                <section class="example-section checkbox1">
                    <mat-checkbox disabled class="example-margin "   name="worldwide">WorldWide</mat-checkbox>
                    <mat-checkbox disabled class="example-margin checkbox3" name="africa">Africa</mat-checkbox>
                    <mat-checkbox  disabled class="example-margin checkbox3"name="africa">Morocco</mat-checkbox>
                    <mat-checkbox disabled class="example-margin checkbox3"  name="meeting">Meeting</mat-checkbox>
                  </section>
          
         
          
          
          <button mat-raised-button class="clear clear2" routerLink="/admin/viewCompetition">Close</button>
      </div>
      </mat-tab>
        </mat-tab-group>
       </form>
         
  
    <br>
    </div>
  </mat-card>
  